<h1>친구관리 (요청목록 // 친구목록 // 친구추천)</h1>


<strong>친구 요청 목록</strong><br>
  요청 온 것!<br>
  <% if @incomings.empty? %>
    대기중인 친구 요청이 없습니다.
  <% else %>
    <p>
      <% @incomings.each do |incoming| %>
        <%= User.find(incoming.user_id).nickname %>님이 친구 요청을 했습니다.
        <%= link_to "친구신청 수락", friend_request_path(:id => incoming.id), :method => :put %>
        <%= link_to "친구신청 거절", friend_request_path(:id => incoming.id), :method => :delete %>
      <% end %>
    </p>
  <% end %>


<p>
  내가 요청한 것!<br>

  <% if @outgoings.empty? %>
    대기중인 친구 요청이 없습니다.
  <% else %>
    <% @outgoings.each do |outgoing| %>
      <%= User.find(outgoing.friend_id).nickname %>님께 친구 요청을 했습니다.
      <%= link_to "친구신청 취소", friend_request_path(:id => outgoing.id), :method => :delete %>
    <% end %>
  <% end %>
</p>



<strong>친구 목록</strong>
<div style="font-size: 14px; margin-bottom: 50px;">
	<% if @friends.empty? %>
	  친구가 없습니다. 엉엉엉ㅠ
	<% else %>
	  <% @friends.each_with_index do | friend, index |%>
	  <p>
	    <%= index+1 %>번째 친구! <%= friend.nickname %>
	    <%= link_to "우리 절교해", friends_destroy_path(:id => friend.id), :method => :delete %>
	  </p>
	  <% end %>
	<% end %>
</div>


<p class="dummy" style="color: red;">
  이 페이지에서 친구요청할 필요는 없음.
</p>