<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 318px;
  }  
</style>
<div class="main_carousel">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <% @first = @carousels.first %>
    <% @carousels.each do |carousel| %>
      <% if carousel == @first %>
        <div class="carousel-item active">
          <img src="<%= CarouselBackground.find(carousel.carousel_background_id).img_address %>" >
        </div>
      <% else %>
        <div class="carousel-item">
          <img src="<%= CarouselBackground.find(carousel.carousel_background_id).img_address %>" >
        </div>
      <% end %>
    <% end %>

    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>  

</div>
<div class="main_intro">
  <div class="intro_top">
    <div class="intro_face"><img src='/naeun.png' style='width: 60px; height: 60px; border-radius: 50%;'></div>

    <div class="intro_friends">
      <div class="intro_friends_top">152</div>
      <div class="intro_friends_bottom">friends</div>
    </div>

    <div class="intro_cosmetics">
      <div class="intro_cosmetics_top">45</div>
      <div class="intro_cosmetics_bottom">cosmetics</div>
    </div>

    <div class="intro_settings"><img src='/more3.png' style='width: 20px'></div>
  </div>

  <div class="intro_bottom">
    <div class="intro_bottom_name">이재인</div>
    <div class="intro_bottom_lineintro">안녕다들만나서반가워</div>
  </div>

</div>
<div class="main_vanity"></div>
<div class="main_lifeitem"></div>
<div class='main_comment'></div>
<div class='main_cosmeticlist'></div>

<table>
  <thead>
    <tr>
      <th>화장품이름</th>
      <th>메모</th>
      <th>카테고리</th>
      <th>사용기한</th>
      <th>누구꺼?</th>
      <th>화장대 이름</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cosmetics.each do |cosmetic| %>
      <tr>
        <td><%= cosmetic.name %></td>
        <td><%= cosmetic.memo %></td>
        <td><%= Category.find(cosmetic.category).name %></td>
        <td><%= cosmetic.exp_date %></td>
        <td><%= User.find(cosmetic.user_id).nickname %></td>
        <td>
          <%= Carousel.find(cosmetic.carousel_id).name %>
        </td>
        
        <td><%= link_to 'Show', cosmetic %></td>
        <td><%= link_to 'Edit', edit_cosmetic_path(cosmetic) %></td>
        <td><%= link_to 'Destroy', cosmetic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
        <% if current_user.is_best?(cosmetic) %>
          <%= link_to toggle_bests_path(cosmetic.id), method: :post do %>
            [임시]인생템 취소
          <% end %>
        <% else %>
          <%= link_to toggle_bests_path(cosmetic.id), method: :post do %>
            [임시]인생템 설정
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
--------파우치 댓글-------
    <% @user.comments.each do |x| %>
    <br>
        <%= link_to table_cosmetic_path(x.writer_id) do %>
          <%= User.find(x.writer_id).nickname %>
        <% end %>
        <%= x.content %>

        <% @comment_time = x.created_at %>
        <% if @curr_time-7.day <= @comment_time %>
          <%= distance_of_time_in_words(@comment_time, @curr_time) %> 
        <% elsif @curr_time-1.year < @comment_time && @comment_time < @curr_time-7.day %>
          <%= @comment_time.strftime("%m월 %d일") %>  
        <% else %>
          <%= @comment_time.strftime("%Y년 %m월 %d일") %>  
        <% end %>

        <%= link_to 'Destroy', comment_destroy_path(user_id: current_user.id, comment_id: x.id), method: "delete" %>
    <% end %>
    
    <%= form_tag index_comment_path(user_id: @user.id) do %>
      <%= text_field_tag "content", nil %><br><br>
      <input type="submit" value="작성">
    <% end %>
-------------------------------------------<br>
<%= link_to '[임시] 화장대 만들러 가기', new_carousel_path  %>
</br>
<%= link_to '[임시] 화장품 등록하러 가기', new_cosmetic_path %>
<div class="test">
  <h3>
    [임시] 인생템 목록
  </h3>
  <% @bests.each do |best_row| %>
    <div>
      <%= best_row.cosmetic.name %>
    </div>
  <% end %>
</div>
<div class="test">
  <h3>
    [임시] 화장대 목록
  </h3>
  <% current_user.carousels.each do |carousel| %>
    <div style="margin: 10px 10px 0 0;">
      이름: <%= carousel.name %></br>
      사진: [임시]화장대 캡쳐 사진(?)</br>
      <%= link_to '[임시] 화장대 수정', edit_carousel_path(carousel.id) %></br>
      <%= link_to '[임시] 화장대 삭제', carousel_path(carousel.id), method: :delete %>
    </div>
  <% end %>
</div>


<div class='register_button'>
  <%= link_to(image_tag("/plus64.png"), new_cosmetic_path) %>
</div>
<div class="footer_j">
  <div class="footer_1"></div>
  <div class="footer_2"></div>
  <div class="footer_3"></div>
</div>

