<div class="feed_page">
  <div class="feed_page_title">
    [폰트지정] 친구의 피드!
  </div>

  <% @feeds.each do |feed| %>
    <div class="feed">
      <% @feed_index = feed['idx'] %>
      <% @feed_time = Time.parse feed['time'] %>
      <% @friend = User.find(feed['friend_id']) %>
      <% @friend_nickname = @friend.nickname %>
      <% @friend_profile_img = @friend.profile_img %>

      <!-- feed가 화장품 등록이라면 -->
      <% if @feed_index == 1 %>
        <% @obj = Cosmetic.find(feed['origin_id']) %>
        
        <div class="feed_profile">
          <img src='<%= @friend.profile_img.thumb %>' class="feed_profile_img">
          <div class="feed_profile_content">
            <%= @friend_nickname %></br>
            
            <% if @curr_time-1.month < @feed_time %>
              <%= distance_of_time_in_words(@feed_time, @curr_time) %> 
            <% elsif @curr_time-1.year < x.create_at && @feed_time <= @curr_time-1.month %>
              <%= @feed_time.strftime("%m월 %d일") %>  
            <% else %>
              <%= @feed_time.strftime("%Y년 %m월 %d일") %>  
            <%end%>

          </div>
        </div>

        <div class="feed_picture">
          <img src="/default/perfume.png" class="feed_content_img">
        </div>

        <div class="feed_content">
          <div class="feed_content_title">
            화장품 <strong><%= @obj.name %></strong>을 등록했습니다!
          </div>
          <div class="feed_content_memo">
            <%= @obj.memo %>
          </div>
        </div>


      <!-- feed가 화장대 등록이라면 -->
      <% elsif @feed_index == 2 %>
        <% @obj = Carousel.find(feed['origin_id']) %>
        
        <div class="feed_profile">
          <img src='<%= @friend.profile_img.thumb %>' class="feed_profile_img">
          <div class="feed_profile_content">
            <strong><%= @friend_nickname %></strong></br>

            <% if @curr_time-1.month < @feed_time %>
              <%= distance_of_time_in_words(@feed_time, @curr_time) %> 
            <% elsif @curr_time-1.year < x.create_at && @feed_time <= @curr_time-1.month %>
              <%= @feed_time.strftime("%m월 %d일") %>  
            <% else %>
              <%= @feed_time.strftime("%Y년 %m월 %d일") %>  
            <%end%>

          </div>
        </div>

        <div class="feed_picture">
          <img src="/default/perfume.png" class="feed_content_img">
        </div>

        <div class="feed_content">
          화장대 <strong><%= @obj.name %></strong>을 등록했습니다!
        </div>


      <!-- feed가 인생템 등록이라면 -->
      <% elsif @feed_index == 3 %>
        <% @obj = Cosmetic.find(Best.find(feed['origin_id']).cosmetic_id) %>

        <div class="feed_profile">
          <img src='<%= @friend.profile_img.thumb %>' class="feed_profile_img">
          <div class="feed_profile_content">
            <%= @friend_nickname %></br>
            
            <% if @curr_time-7.day <= @feed_time %>
              <%= distance_of_time_in_words(@feed_time, @curr_time) %> 
            <% elsif @curr_time-1.year < x.create_at && @feed_time < @curr_time-7.day %>
              <%= @feed_time.strftime("%m월 %d일") %>  
            <% else %>
              <%= @feed_time.strftime("%Y년 %m월 %d일") %>  
            <%end%>

          </div>
        </div>

        <div class="feed_picture">
          <img src="/default/perfume.png" class="feed_content_img">
        </div>
        
        <div class="feed_content">
          화장품 <strong><%= @obj.name %></strong> 을 인생템으로 지정했습니다!
        </div>
      <% end %>
    </div>
  <% end %>

</div>
