<h1>
  ID <%= current_user.id %> 번 님의 화장대입니다.
</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Memo</th>
      <th>Category</th>
      <th>Exp date</th>
      <th>User</th>
      <th>Carousel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cosmetics.each do |cosmetic| %>
      <tr>
        <td><%= cosmetic.title %></td>
        <td><%= cosmetic.memo %></td>
        <td><%= cosmetic.category %></td>
        <td><%= cosmetic.exp_date %></td>
        <td><%= cosmetic.user_id %></td>
        <td><%= cosmetic.carousel %></td>
        <td><%= link_to 'Show', cosmetic %></td>
        <td><%= link_to 'Edit', edit_cosmetic_path(cosmetic) %></td>
        <td><%= link_to 'Destroy', cosmetic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cosmetic', new_cosmetic_path %>


<!--한비_Footer에 들어갈 링크-->
<div style="margin-top: 30px; margin-bottom: 30px; color:red;">
  한비_Footer링크
  1. 홈
  2. 등록하기
  <%= link_to friends_index_path do %>
  3. 친구관리로 이동하기
  <% end %>
  4. 검색(?)
  5. 마이페이지(?)
</div>
