<h1>
  id: <%= @owner_user_id %> (남의 화장대)
</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Memo</th>
      <th>Category</th>
      <th>Exp date</th>
      <th>User</th>
      <th>Carousel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cosmetics.each do |cosmetic| %>
      <tr>
        <td><%= cosmetic.name %></td>
        <td><%= cosmetic.memo %></td>
        <td><%= cosmetic.category %></td>
        <td><%= cosmetic.exp_date %></td>
        <td><%= cosmetic.user_id %></td>
        
        <td>  
        [이후 카로셀 DB와 연동 필요]
        </td>
        
        <td><%= link_to 'Show', cosmetic %></td>
        <td><%= link_to 'Edit', edit_cosmetic_path(cosmetic) %></td>
        <td><%= link_to 'Destroy', cosmetic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cosmetic', new_cosmetic_path %>


