<!DOCTYPE html>
<html>
  <head>
    <title>PouchMate2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- w3school carousel -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class='stickyheader' style="width:375px; height:55px; border-bottom: 1px solid;">PouchMate</div>
    <%= yield %>

  <div style="margin: 30px 0;">
    <% if user_signed_in? %>
      <%= current_user.email %>
      <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>



    <!--한비_Footer에 들어갈 링크-->
    <div style="margin-top: 30px; margin-bottom: 30px; color:red;">
      [임시]한비_Footer링크
      
      <div class="footer" style="display:flex; flex-direction: column;">
      <%= link_to root_path do %>
        1. 홈(마이페이지)
      <% end %>

      <%= link_to search_cosmetics_path do %>
        2. 추천(검색)
      <% end %> 
      
      <%= link_to friends_index_path do %>
        3. 친구관리로 이동하기
      <% end %>

      <%= link_to feed_cosmetics_path do %>
        4. 피드
      <% end %>


      </div>
    </div>
    

  </body>
</html>
